.blog-wapper{
    width: 100%;

}
.blog{
    width: 80%;
    margin: 0 auto;
}
.blog-main{
    display: flex;
}
.blog-content{
width: 75%;
margin: 10px;
}
.blog-category{
    width: 25%;
    margin: 5px;
    padding: 5px;
}
.blog-category ul li{
    width: 100%;
    list-style: none;
    padding: 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: 6px;
    margin:10px 0;
    


}
.blog-category ul li:hover{

    border: 1px solid rgba(0, 0, 0, 0.397);
  background-color: darkgrey;
    


}
.blog-category ul{
    width: 100%;
    padding: 0;
    margin: 0;


}