.ex-wapper{
    width: 100%;
}
.ex{
    width: 70%;
    margin: 0 auto;
}
.ex-search ul{
    display: flex ;
    list-style: none;
    flex-wrap: wrap;

}
.ex-search  {
    padding: 10px 10px 20px;
    margin: 0 auto;
    font-size: 22px;
    border: 1px solid rgba(94, 94, 94, 0.313);
    border-radius: 10px;
}
.ex-search button {
    width: 20%;
    height: 40px;
    margin-left: 5px;
    padding: 13px 0;
}
#all{
    font-weight: bold;
    color: rgba(17, 21, 212, 0.789);
}
.ex-search ul li {
padding: 5px;
margin: 5px;
font-size: 22px;
}
.ex-ip{
width: 79%;
height: 35px;
border-radius: 5px 0px 0px 5px;
border: 1px solid black;
margin: 0 auto;
text-align: center;
font-size:
 20px;
}
.ex-list{}
.ex.kt img{ height: 100px;}