#root{
    /* font-family: 'Poppins', sans-serif; */
}
.footer-wapper{
    position:sticky;
    width: 100%;
    background-color: rgb(247, 247, 247);
    z-index:100;
}
.footer{
    padding: 20px 0;
    width:80%;
margin: 10px auto;
display: flex;
flex-wrap: wrap;
justify-content: start;
flex-direction: column;
}
.footer-menu{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content:space-between;
}
.footer-item{
   
    padding: 0 20px;
    width: 30%;   
}
.footer-logo1{
    font-size: 30px;
    font-weight: bold;
}
.footer-logo3{
    margin:8px 8px 8px 0px;
    font-size: 22px;
    font-weight: bold;

}
.footer-item-header{
    font-size: 22px;
    font-weight: bold;
}
.footer-item-category{
   margin: 15px 0;
}
.footer-item-category a{
    font-size: 20px;

    text-decoration: none;
    color: rgb(101, 101, 101);
}
.footer-item-category a:hover{
    text-decoration:underline;
    color: rgb(3, 91, 255);
}
.footer-contact{
    padding: 15px;
    font-size: 20px;
}
.footer-contact-header{
    padding: 15px 0px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}
.footer-copyright{
    padding: 10px;
text-align: center;

}
