.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    width: 600px;
    margin: 0 auto;
}

.login-form {
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
}

.input:focus {
    border-color: #007BFF;
    outline: none;
}

.btn {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}