.home-wapper{
    width: 100%;
}
.home{
width: 100%;
}
.home-elm{
    font-size: 22px;
    padding:  5px;
}
.home-elm-ex{
    font-size: 22px;
    padding:  5px;
    width: 60%;
    margin: 0 auto;
}
.home-elm0 {
    margin-top: 20px;
    display: flex;
   justify-content: center;
}
.home-elm2 ul{
    border: 1px rgba(42, 42, 42, 0.163) solid;
}
.home-elm2 button{
width: 80%;
height: 40px;
background-color: rgba(13, 13, 204, 0.768);
color: aliceblue;
font-size: 22px;
border-radius: 5px;

}
.home-elm2 button:hover{

background-color: rgba(11, 11, 165, 0.803);

}
.home-elm2 ul li{
  list-style: none;
  padding: 15px;
  font-size: 20px;
}
.home-elm-tit{
    font-size: 27px;
    padding:  10px;
 font-weight: bold;
}
#banner{
width: 100%;
}
#u3,#u2,#u1{
    border-radius: 50%;
    position: relative;
    left: -5px;
    margin-left: -20px;
    margin-top: 10px;
    padding: 10px 0 0 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
}
.home-elm-last{ 
    padding: 20px;
    width: 100%;
    margin: 20px auto;
    height: 400px;
    background-image: url("../img/teach.jpg");
    background-size: contain;
}
.home-elm-last h1{  
color: #ffffff;
}
.home-form{
    
    padding: 20px 0 0;
    height: 290px;
    background-color: #fff;
    width: 600px;
    display: block;
   border: 1px solid rgba(0, 0, 0, 0.553);
   margin: 0px auto 0px;
   border-radius:15px ;
}
.home-ip{
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.256);
    padding: 10px 10px;
    width: 88%;
    margin: 5px;
    border-radius:7px ;border-radius:7px ;
}
.home-ops{
    font-size: 20px;
    padding: 10px 10px;
    width: 92%;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.277);
    border-radius:7px ;
}
.home-op{
    padding: 5px 10px;
    height: 200px;
}
#btn-dk{
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 6px;
    width: 92%;

    height: 45px;
    border-radius:7px ;
    background-color: rgba(13, 13, 204, 0.768);
    color: #fff;
}