.sub-banner-sub{
    position:sticky;
    top:  35px;
    right: 10px;
    margin: 0px;
    padding:0px 0px;
    z-index: 1;
    height: 60px;
    text-align: end;
    margin: 160px 30px 0px 0;
    float: right;
    width: 20%;
}

.sub{
    width: 100%;
    height: auto;
    margin: -27px 0 0 0;
    text-align: center;
}
.sub-banner{

      margin-top: -150px;
    z-index: -2;
    color: azure;
  
  background-image: url("../img/th1.jpg");
  background-size:cover;
  width: 100%;
  height: 450px;
  text-align: start;
  
}
.sub-banner-title{
    
    font-size: 35px;
    font-weight: bold;
    padding:80px 0px 20px 100px;
}
.sub-banner-tag{
    font-size: 25px;

    padding: 0px 0px 0px 100px;
}
.sub-banner-star{
    font-size: 22px;
    padding: 10px 0 10px 100px;
}
.sub-banner-star span{
    color: rgb(255, 255, 54);
}
.sub-banner-content{
    font-size: 22px;

    padding: 0px 0px 5px 100px;
}
.sub-banner-content  span{
color: rgb(10, 173, 10);
}
.sub-main-content{
    width: 80%;
   
}
.sub-px{
    width: 70%;
    margin: 0 auto;
}
.sub-menu{
  position: sticky ;  
 width: 100%;
 margin: 15px 0 0 0;
 top: 70px;
 background-color: rgb(198, 200, 200);
 padding: 0px 0 0 0;
 border: 1px solid rgba(0, 0, 0, 0.308);

}
.sub-menu ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    border-radius: 5px;
}
.sub-gt{
    margin-top:20px;
    border: 1px solid rgba(0, 0, 0, 0.238);
    padding: 15px;
}
.sub-gt-title{
    font-size: 27px;
    font-weight: bold;
    padding: 10px;
}
.sub-gt-content{
    font-size: 22px;
    padding: 8px;
}
.sub-infor{
    font-size: 20px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.258);
    border-radius: 5px;
}
.sub-infor-menu ul{
    display: flex;
    list-style: none;
    margin: 15px;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.123);
    border: 1px solid rgba(110, 79, 79, 0.096);
    border-radius: 5px;
}
.sub-infor-menu li{
 
    margin: 10px 25px;
    padding: 0 20px;

}
.sub-infor-te{
    margin-top: 20px;
    border-left:3px solid rgba(26, 33, 179, 0.518);
    border-radius: 2px;
    padding: 10px 0 0 0 ;
    background-color: rgba(0, 0, 0, 0.114);
    margin-bottom: 20px;
}
.sub-infor-te ul li{
    padding:5px 0px;
}
.sub-infor-te ul li span{
   
font-weight: bold;
}
.sub-infor-te span{
    font-weight: bold;
}
.sub-infor-main p{
    padding: 20px;
}
.sub-tutoriol{
    text-align: start;
}
.sub-tutoriol-tit{
    font-size: 27px;
    font-weight: bold;


}
.sub-tutoriol-wapper{
border: 1px solid rgb(0, 0, 0);
padding: 10px;

}
.sub-tutoriol-tit-li{
    font-size: 22px;
}
.sub-tutoriol-li{
    font-size: 20px;
    padding: 10px;
    list-style: none;
}
.sub-tutoriol-li button{
    font-size: 15px;
    margin:0 0 0 30px;
    text-align: end;
    background-color: rgba(0, 76, 255, 0.751);
    border: 1px;
    border-radius: 3px;
    color: aliceblue;
    font-weight: bold;
    padding: 5px;
  
}
.sub-tutoriol-li button:hover{
  
    background-color: rgba(6, 61, 188, 0.876);
  
}