.user-info {
  width: 80%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:  0 auto;
  }
  
  .user-info h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .user-info p {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
  }
  
  .user-info strong {
    color: #000000; /* Màu xanh cho các nhãn */
  }

  .user-banner{
    width: 90%;
    background-image:  url("../img/th1.jpg");
    margin: 0 auto;
  }
  .user-banner img{
    width: 100px;
    margin-top: 20px;
    height: 100px;
border-radius: 50%;
  }

  .user-menu {
    width: 100%;
    margin: 0 auto;
  }
  .user-menu ul{
    
    display: flex;
    justify-content: start;
    list-style: none;
    margin: 0 auto;
  }
 
  .user-menu ul li{
margin: 0 10px;
  }